.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
 /* Navigation bar style */
  }
  body{font-family: Azeret Mono;}
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
    color: rgb(13, 19, 33);  
    
}
nav h3{
    font-weight: 800;
    font-size:28px;
    
}

/* Shared style */
.btn-primary{
    padding: 17px 24px;
    border-radius:8px;
    font-size:20px;
    font-weight:600;
    
}
.sub-container{
    display: flex;
    padding:20px;
    justify-content: space-between;
    gap: 100px;
    margin-top: 100px;
    color: rgba(13, 19, 33, 0.7);
 
/* font-size: 24px;
font-weight: 700; 
line-height: 36px;
letter-spacing: 0%;
text-align: left;  */
}
/* Banner style */
.banner{
    background-image:url(B10A1-Challenge-Begins/assets/Hero-bg.png);
    height:652px;
    max-width: 1640px;
    border: 1px dashed #757575;
    display: block;
    
}
.banner-container{
    margin: 26px 221px 44px 221px;
}
.banner-image{margin: 26px 278px 32px 278px;
    text-align:center;

}
.banner-secondary-container{text-align: center;
    margin: 100px;

}
.banner-description{
    color:rgba(13, 19, 33, 0.665);
    height: 52px;
    width: 852px;
    font-weight: 600;
    
    
}
.banner-title{
    font-family: Azeret Mono;
    color: #0b0b0bec;
    font-size: 32px;

}
.cont-btn{
    margin:20px 250px 0px 250px;
    background-color:#0D1321;
    color: rgba(255, 255, 255, 0.806);
}
main{
    max-width:1140px;
    margin: 0 auto;
    padding: 80px 90px;
    text-align: center;
    
    color: rgba(13, 19, 33, 0.7);
}
/* Development section style */
.layer{
    text-align: left;
}
.layer-btn{
    padding: 17px 24px;
    border-radius:2px;
    font-size:20px;
    font-weight:600;
    
    color: rgba(13, 19, 33, 0.7);
    border: 1px solid #757575;

}
.development-section{
    background-color: rgba(248, 248, 247, 0.64);
    margin-top: 100px;

}
.layer-2{
    box-shadow:0px 6px 50px 0px rgba(222, 220, 220, 0.176);
}
.video{
    border-radius:20px;
    
}
.video-container{
    padding: 50px;
    
    
}
.video-description{
    text-align: justify;
}
.video-section{
    margin: 100px 0px 100px 0px;
}
.target-section{
    display: flex;
    gap: 20px;
}
.target-description{
    text-align: justify;
}
.target-sub-container{
    text-align: left;
    padding: 40px;
}
a{
    color: #0D1321;
}
.target-section{
    margin-top:100px;
}
.bg-color-1{
    background-color:#FFF6F4;
    border-radius:20px;

}
.bg-color-2{
    background-color:#F2F6FE;
    border-radius:20px;

}
.bg-color-3{
    background-color:#FFFDF4;
    border-radius:20px;

}
.help-section{
    background-image: url(B10A1-Challenge-Begins/assets/handshake.jpg);
    width: 1000px;
    height: 314px;
    padding: 48px 64px ;
    margin-top: 50px;
    border-radius: 20px;
    background-color:rgb(6, 6, 6);;
    ;
}
.help-title{
    color: rgba(255, 255, 255, 0.918);
}
.help-sub-section-1{
    border-radius: 5px;
}
.help-sub-section-2{
    margin-top: 150px;

}
.help-section-2{
    bor
}
.help-input-1{
    border-radius: 5px;
    padding-left:10px;
    width: 400px;
    height: 60px;
    border:none;
    
}
.help-input{
    border-radius: 5px;
    padding:15px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #0b0b0bec;
    height: 60px;
}
h1{
    color: #0b0b0bec;
}
footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 24px 150px;
    background-color:#F7F8F8;
    height: 50px;
}
.icon-container{
    display: flex;
    gap:35px
}
.icon-color{
    color: blue;
}
.icon{font-size:30px;

}


